*{
    padding:0;
    margin:0;
}
body{
    color: white;
    background-color: #99bc9b;
}
#box{
    background-color: #63483d;
    width: 350px;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    box-shadow: 1px 2px 10px #2e2b21;
}
#show{
    width: 340px;
    height: 150px;
    background-color: #eecbab;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 150px;
    color: rgb(255,255,255);
}
ul{
    list-style-type: none;
}
#font{
    margin: 40px 0 0 10px;
}
#font ul li{
    height: 50px;
    width: 300px;
}
#font ul li span,div,p{
    display: inline-block;
}
#font ul li span{
    width: 40px;
    padding-left: 10px;
    text-align: center;
}
.move{
    height: 17px;
    width: 160px;
    padding: 2px;
    border-radius: 9px;
    background-color: #ffe7cb;
    box-shadow: 0 0 20px #ab9a89;
    margin: 0 10px;
}
.but{
    width: 18px;
    height: 18px;
    background-color: #ff5b48;
    border-radius: 50%;
    position: relative;
    top: -1px;
    left: 0;
}
.prog{
    height: 17px;
    /*background-image: linear-gradient(to bottom,lightgray,darkgray,grey,grey);*/
    background-color: #fc887b;
    border-radius: 8px;
    width: 0;
}